# exportPattern("^[[:alpha:]]+")

importFrom(stats, nobs, logLik)

export(
  AICc, allCombinations,
  cjs0, cjsTime, ch2mArray,
  closedCapM0, closedCapMh2, closedCapMhJK,
  occSS0, occSS.t, occSS.T, occSScov, occSScovSite, occSSrn,
  richRarefy,
  richACE, richICE, richChao1, richChao2, richJack1, richJack2, richBoot, richMM,
  richJackA1, richJackA2, richRenLau,
  richCurve, richSobs, richSingle, richDouble, richUnique, richDuplicate,
  biodSimpson, biodShannon, biodBerger, biodBrillouin,
  distShell, distBrayCurtis,
  distChaoJaccCorr, distChaoJaccNaive, distChaoSorCorr, distChaoSorNaive,
  distChord, distJaccard, distMatching, distMorisitaHorn, distOchiai, distPreston,
  distRogersTanimoto, distSimRatio, distSorensen, distWhittakerA, distWhittakerI
)

# DON'T export data objects!
# export(salamanders, weta)

S3method("print", "occupancy")
S3method("logLik", "occupancy")
S3method("nobs", "occupancy")
S3method("AICc", "default")

